@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}


table td,
table th {
  
  text-align: center;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(181, 191, 204);
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(148, 163, 184);
}
